.chatbox-wrapper {
  position: relative;
  height: 6em;
  max-height: 50%;
  width: 100%;
}

.new-message-input-field {
  height: 4em;
  font-size: 20px;
  padding: 8px 6em 8px 12px;
  resize: none;
  width: calc(100% - 26px);
  width: -webkit-fill-available;
}

.send-message-button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
  height: 40px;
  width: 100px;
  font-size: 28px;
  font-weight: 600;
  color: white;
  background: #31a24c;
  border-radius: 99999px;
}

.new-message-input-field, .send-message-button {
  border-color: #9a9a9a;
  z-index: 2;
}