.messages-container {
  flex: 1;
  min-height: 100px;
  overflow: auto;
  border: 1px solid black;
  border-radius: 7px 7px 0 0;
  padding: 0 1em;
  background-color: rgba(234,239,242,1);
  border-color: #9a9a9a;
  z-index: 2;
}

.messages-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
}

.message-item {
  width: fit-content;
  max-width: 60%;
  margin: 8px;
  padding: 0.8em 1em;
  word-break: break-word;
  color: black;
  font-weight: 600;
  box-shadow: 0px 3px 8px darkgray, 0px -1px 3px darkslategrey;
  position: relative;
}

.message-thought {
  font-style: italic;
  color: darkslategray;
}

.my-message {
  border-radius: 20px 20px 0 20px;
  background: linear-gradient(180deg, rgba(242,255,212,1) 0%, rgba(125,203,77,1) 30%, rgba(125,203,77,1) 70%, rgba(216,233,94,1) 100%);
  margin-left: auto;
}

.received-message {
  border-radius: 20px 20px 20px 0;
  background: linear-gradient(180deg, rgba(240,240,240,1) 0%, rgba(215,215,215,1) 30%, rgba(215,215,215,1) 70%, rgba(240,240,240,1) 100%);
  margin-right: auto;
}