.chat-room-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.room-name {
  margin-top: 0;
}

.nickname-header {
  font-size: 20px;
}

.messages-container {
  flex: 1;
  min-height: 100px;
  overflow: auto;
  border: 1px solid black;
  border-radius: 7px 7px 0 0;
  padding: 0 1em;
  background-color: rgba(234,239,242,1);
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.message-item {
  width: fit-content;
  max-width: 60%;
  margin: 8px;
  padding: 0.8em 1em;
  word-break: break-word;
  color: black;
  font-weight: 600;
  box-shadow: 0px 3px 8px darkgray, 0px -1px 3px darkslategrey;
  position: relative;
}

.my-message {
  border-radius: 20px 20px 0 20px;
  background: linear-gradient(180deg, rgba(242,255,212,1) 0%, rgba(125,203,77,1) 30%, rgba(125,203,77,1) 70%, rgba(216,233,94,1) 100%);
  margin-left: auto;
}

.received-message {
  border-radius: 20px 20px 20px 0;
  background: linear-gradient(180deg, rgba(240,240,240,1) 0%, rgba(215,215,215,1) 30%, rgba(215,215,215,1) 70%, rgba(240,240,240,1) 100%);
  margin-right: auto;
}

.new-message-input-field {
  height: 2em;
  max-height: 50%;
  font-size: 20px;
  padding: 8px 12px;
  resize: none;
}

.send-message-button {
  font-size: 28px;
  font-weight: 600;
  color: white;
  background: #31a24c;
  padding: 24px 12px;
  border: none;
}

.messages-container, .new-message-input-field, .send-message-button {
  border-color: #9a9a9a;
  z-index: 2;
}